[Desktop Entry]
Hidden=true
Name=Boot to Windows
Comment=Boot to Windows installation
Type=Application
Terminal=false
Icon=folder-windows-symbolic
Exec=sh -c "pkexec /usr/bin/boot-to-windows"
Categories=Utility;
