# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Thomas Duckworth <tduck@filotimoproject.org>
[Desktop Entry]
Type=Service
TryExec=firewall-config
Exec=firewall-config
Icon=preferences-security-firewall
X-KDE-Weight=1
X-KDE-ServiceTypes=SystemSettingsExternalApp
X-KDE-System-Settings-Parent-Category=network
X-KDE-ParentApp=systemsettings
Name=Firewall
Comment=Allows configuring the firewall
X-KDE-Keywords=network,firewall,firewalld,networking,ufw,tcp,udp,port,service
