name: Beta Images
on:
   #All triggers disabled to stop beta builds
   merge_group:
   pull_request:
     branches:
       - main
       - testing
     paths-ignore:
       - "**.md"
       - ".github/workflows/moderator.yml"
   workflow_call:
   workflow_dispatch:

jobs:
  build-image-beta:
    name: Build Beta Images
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        brand_name: ["aurora"]
    with:
      image_flavors: '["main", "nvidia-open"]'
      brand_name: ${{ matrix.brand_name }}
      stream_name: beta
