name: Validate Flatpaks
permissions:
  contents: read

on:
  pull_request:
    paths:
      - "flatpaks/**"
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Get Flathub apps
        shell: bash
        run: |
          FLATHUB_LIST=$(mktemp)
          curl -X 'GET' \
            'https://flathub.org/api/v2/appstream?filter=apps' \
            -H 'accept: application/json' | jq -r ".[]" >> "${FLATHUB_LIST}"

          curl -X 'GET' \
            'https://flathub.org/api/v2/appstream?filter=runtime' \
            -H 'accept: application/json' | jq -r ".[]" >> "${FLATHUB_LIST}"

          set -xeuo pipefail

          find "flatpaks" -iname '*.list*' -print0 | \
            while IFS= read -r -d '' flatpaks_file; do
              echo "::group:: ===$(basename "$flatpaks_file")==="
              grep -vE '^#' "$flatpaks_file" | while read -r flatpak; do
                # Only output on errors
                if ! grep -Fxq "$flatpak" "$FLATHUB_LIST"; then
                  echo "$flatpak NOT found on Flathub"
                  exit 1
                fi
              done

              echo "::endgroup::"
            done

